<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Valor do abastecimento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="form">

    <app-stepper [steps]="steps" [atual]="atualStep" style="display: block;"></app-stepper>

    <ion-row [ngSwitch]="atualStep" style="height: 100%;">

      <ion-col class="ion-no-padding ion-no-margin" size="12" style="height: 100%;" *ngSwitchCase="1">
        <div style="height: 60%; display: block; width: 100%; padding-top: 10%;">
          <input
                  #inputValor
                  class="form-input"
                  currencyMask
                  formControlName="valor"
                  [options]="inputValorOptions"
                  onfocus=" let value = this.value; this.value = null; this.value=value"
                  autofocus
                  inputmode="numeric"
                  onClick="this.setSelectionRange(0, this.value.length)"
          />
        </div>
        <div style="height: 40%; display: block; width: 100%; padding-top: 10%;">
          <ion-text color="primary">Brasal Combustiveis - Sede Sia - Shell</ion-text>
          <br>
          <br>
          <ion-text color="medium">{{dateNow | date : 'EEEE'}}</ion-text>
          <br>
          <ion-text color="primary">{{dateNow | date : 'd/m/y  H:mm:ss'}}</ion-text>
        </div>
      </ion-col>

      <ion-col class="ion-no-padding ion-no-margin" size="12" style="height: 100%;" *ngSwitchCase="2">

        <div class="valor" style="width: 100%; padding: 8px 4px; background: #676767; text-align: center; font-size: 1.6em; line-height: 1.6em; font-weight: 700;">
          <ion-text color="light">{{form.get('valor').value | currency : 'R$'}}</ion-text>
        </div>

        <ion-img style="width: 70%; margin: 0 auto;" src="https://correios.com.br/sobre-os-correios/educacao-e-cultura/centros-e-espacos-culturais-dos-correios/museu-correios/sobre-o-museu/imagens/QRCOde.png/image_preview"></ion-img>

        <p>
          <ion-text color="primary">Verifique a geração do QR Code abaixo.</ion-text>
          <ion-text color="primary">O Cliente realizará o pagamento apontando o celular para esse QR Code.</ion-text>
        </p>
      </ion-col>
      <ion-col class="ion-no-padding ion-no-margin" size="12" style="height: 100%;" *ngSwitchCase="3">

        <ion-img style="width: 70%; margin: 0 auto;" src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Tick_Mark_Dark-512.png"></ion-img>

        <p class="ion-text-center">
          <ion-text color="primary">Pagamento recebido com sucesso</ion-text>
        </p>
      </ion-col>
    </ion-row>

  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="light">
    <ion-row style="height: 30%">
      <ion-col size="6">
        <ion-button (click)="atualStepSub()" size="large" expand="block">
          <ion-text color="light">Voltar</ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="atualStepAdd()" size="large" expand="block">
          <ion-text color="light">Próximo</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
