form.frm-options {
  height: calc(100% - 115px);
  width: 100%;

  div.options {
    width: 100%!important;
    height: 100%!important;

    div.option-items {
      width: 100%!important;
      height: 100%!important;

      ion-button.btn-qrPrint {
        --ion-button-round-border-radius: 400px!important;
        --ion-button-border-radius: 400px!important;
        --ion-border-radius: 400px!important;
        --border-radius: 400px!important;
        --box-shadow: unset!important;
        --padding-start: 11px;
        --padding-end: 11px;
        :host {
          --border-radius: 400px;
        }
      }

      div.valor {
        width: 100%;
        padding: 4px 4px;
        background: var(--ion-color-secondary);
        text-align: center;
        font-size: 1.4em;
        line-height: 1.4em;
        font-weight: 700;
      }

      ion-input.input-money {
        display: block;
        width: 100%;
        padding: 8px 12px;
        border: 2px solid rgba(0,0,0,.4);
        border-radius: 6px;
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-align: center!important;
      }

      .messageSTatus {
        background: var(--ion-color-secondary);
        padding: 4px 8px;
        border: 4px solid var(--ion-color-secondary);
        border-radius: 200px;
        ion-item {
          --background: rgba(0,0,0,0);
          :host .item-native {
            --padding-inline-start: 2px!important;
          }
          ion-icon {
            color: var(--white);
            margin-inline-end: 8px;
            font-size: 44px;
          }
          ion-text {
            color: var(--white);
            font-size: 21px;
          }
        }
      }
    }
  }
}

.no-shadow {
  --box-shadow: unset!important;
}

p.text-footer {
  padding: 0;
  margin: 0;
}


.bounce ion-col {
  //animation: bounce;
  animation: pulse 6s linear forwards;
  //-webkit-transform-origin: center bottom;
  //-ms-transform-origin: center bottom;
  //transform-origin: center bottom;
  //-webkit-animation-duration: 8s;
  //animation-duration: 8s;
  //-webkit-animation-fill-mode: both;
  //animation-fill-mode: both;
  animation-iteration-count: infinite;
  //-webkit-animation-iteration-count: infinite;
}

.bounce ion-col:nth-child(1) {
  animation-delay: 1s;
  background: red;
}

.bounce ion-col:nth-child(2) {
  animation-delay: 1.4s;
  background: blue;
}

.bounce ion-col:nth-child(3) {
  animation-delay: 1.8s;
  background: green;
}

@-webkit-keyframes pulse {
  0%,
  2.498%,
  6.623%,
  9.996%,
  12.499% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  4.996%,
  5.372% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  11.248% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounce {
  0%,
  2.498%,
  6.623%,
  9.996%,
  12.499% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  4.996%,
  5.372% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  8.75% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  11.248% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
