<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h3>Dados:</h3>
  <ion-list>
    <ion-item lines="none">
      <ion-text slot="start">Nome:</ion-text>
      <ion-text color="info">{{usuario.name}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text slot="start">Usuario:</ion-text>
      <ion-text color="info">{{usuario.username}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text slot="start">Filial:</ion-text>
      <ion-text color="info">{{usuario.station.name}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text slot="start">CNPJ:</ion-text>
      <ion-text color="info">{{usuario.station.cnpj}}</ion-text>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="logout()" color="danger" class="ion-margin-top">
    <ion-icon name="log-out-outline"></ion-icon>&nbsp;&nbsp;Sair do sistema
  </ion-button>
  <br>
  <br>

  <h3>Dispositivo:</h3>
  <ion-list>
    <ion-item lines="none">
      <ion-text slot="start">UUID:</ion-text>
      <ion-text color="success" (click)="copyToClipBoard(config.uuid)">{{config.uuid}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text slot="start">Display:</ion-text>
      <ion-text color="success">{{config.display.width}}x{{config.display.height}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text slot="start">Versão:</ion-text>
      <ion-text color="success" (click)="copyToClipBoard(config.appVersion)">{{config.appVersion}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text slot="start">Servidor:</ion-text>
      <ion-text color="success">Conectado</ion-text>
      <ion-button slot="end" color="secondary">Verificar</ion-button>
    </ion-item>
  </ion-list>

  <h3>Impressora:</h3>
  <ion-list>
    <ion-item lines="none">
      <ion-text slot="start">Impressora Ativa:</ion-text>
      <ion-text [color]="details.hasPrinter ? 'success' : 'danger'">{{details.hasPrinter ? 'Sim' : 'Nâo'}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text slot="start">Serial:</ion-text>
      <ion-text (click)="copyToClipBoard(details.printerSerialNo)">{{details.printerSerialNo}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text slot="start">Versão:</ion-text>
      <ion-text (click)="copyToClipBoard(details.printerVersion)">{{details.printerVersion}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text slot="start">QrCode Size:</ion-text>
      <ion-input type="number" inputmode="numeric" class="ion-text-center" [(ngModel)]="config.size" style="border: 1px solid rgba(0,0,0,.5)"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-text slot="start">Printer Size:</ion-text>
      <ion-input type="number" inputmode="numeric" class="ion-text-center" [(ngModel)]="config.printerSize" style="border: 1px solid rgba(0,0,0,.5)"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-text slot="start">Printer Error level:</ion-text>
      <ion-input type="number" inputmode="numeric" class="ion-text-center" [(ngModel)]="config.errorLevel" style="border: 1px solid rgba(0,0,0,.5)"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="imprimirTeste()" color="secondary" class="ion-margin-top" [disabled]="!details.hasPrinter">
    <ion-icon name="print-outline"></ion-icon>&nbsp;&nbsp;Teste de Impressão
  </ion-button>

</ion-content>
